{% form_theme form 'DemosBlogBundle:Form:form_theme.html.twig' %}

<form action="" method="post" {{ form_enctype(form) }} class="feedback" id="feedback" novalidate>
    {% if isPostData %}
    <div class="form-report-block {{ isFbkFormValid ? 'success' : 'error' }}">
        <a href="#" class="close1"></a>
        <div class="sign"></div>
        <div class="form-message">
            <h4>{% trans %}Форма обратной связи:{% endtrans %}</h4>
            {% if isFbkFormValid %}
                {% trans %}Спасибо! Ваше сообщение было отправлено.{% endtrans %}
            {% else %}
                {{ form_errors(form.email) }}
                {{ form_errors(form.mess) }}
            {% endif %}
        </div>
    </div>
    {% endif %} 

    {{ form_widget(form.email, { 'attr': {'placeholder': 'Ваш email'|trans } }) }}
    {{ form_widget(form.mess, { 'attr': {'placeholder': 'Ваше сообщение'|trans} }) }}
    {{ form_widget(form.send, {'label': 'Отправить'|trans}) }}
    {{ form_rest(form) }}
</form>