{% extends '::layout.front.html.twig' %}

{% block title %}Абдилхамидов Руслан. Персональный сайт.{% endblock %}

{% block bodyclass %}class="home"{% endblock %}
	
{% block content %}
	{# {{ test ? dump(test) : false }} #}
	{# {{ dump(test) }} #}
		
	<section class="main-slider">
		<div class="content">
			<h2>Персональный сайт</h2>
		</div>
		<ul class="bxslider">
			{% for mainBannerImg in mainBannerImgs %}
			    <li>
			      <div class="slide">
			        <div class="img-cont">
			          {% thumbnail mainBannerImg, 'mainbanner' %}
			        </div>
			      </div>
			    </li>
			{% endfor %}
		</ul>
		<div class="controls">
		    <a href="#" class="prev"></a>
		    <a href="#" class="next"></a>
		</div>  
	</section>
	{% if posts.web %}
		<section class="chapter">
			<div class="content">
				<h3>Производство сайтов</h3>
				<div class="slider-1">
					<ul class="bxslider">
						{% for post in posts.web %}
							<li>
								{% include 'DemosBlogBundle:Default:figure.html.twig' with {'post': post} %}
							</li>
						{% endfor %}
					</ul>
					<div class="controls">
					    <a href="#" class="prev"></a>
					    <a href="#" class="next"></a>
					</div>
				</div>
				<div class="chapter-footer">
					<a href="{{url('demos_blog_section', {'slug1': 'web'}) }}" class="more">См. все</a>
				</div>
			</div>
		</section>
	{% endif %}
	{% if posts.design %}
		<section class="chapter dark">
			<div class="content">
				<h3>Дизайн</h3>
				<div class="slider-2">
					<ul class="bxslider">
						{% for post in posts.design %}
							<li>
								{% include 'DemosBlogBundle:Default:figure.html.twig' with {'post': post} %}
							</li>
						{% endfor %}
					</ul>
					<div class="controls">
					    <a href="#" class="prev"></a>
					    <a href="#" class="next"></a>
					</div>
				</div>
				<div class="chapter-footer">
					<a href="{{url('demos_blog_section', {'slug1': 'design'}) }}" class="more">См. все</a>
				</div>
			</div>
		</section>
	{% endif %}

	{% if posts.photo %}
		<section class="chapter">
			<div class="content">
				<h3>Фотографии</h3>
				<div class="slider-3">
					<ul class="bxslider">
						{% for post in posts.photo %}
							<li>
								{% include 'DemosBlogBundle:Default:figure.html.twig' with {'post': post} %}
							</li>
						{% endfor %}
					</ul>
					<div class="controls">
					    <a href="#" class="prev"></a>
					    <a href="#" class="next"></a>
					</div>
				</div>
				<div class="chapter-footer">
					<a href="{{url('demos_blog_section', {'slug1': 'photo'}) }}" class="more">См. все</a>
				</div>
			</div>
		</section>
	{% endif %}
{% endblock %}

{% block popups %}
<!-- fullscreen picture popup -->
<div class="fullscreen">
	<figure class="img-block">
		{# <img src="" alt=""> #}
	</figure>
	<div class="help">
		Esc или клик мыши закрывает окно.
	</div>
	<div class="border"></div>
	<a href="#" class="sitelink">Перейти на сайт</a>
</div>
{% endblock %}