{% extends '::layout.front.html.twig' %}

{% block title %}{% trans %}Профиль пользователя{% endtrans %}{% endblock %}

{% block bodyclass %}class="profile"{% endblock %}
	
{% block content %}

	<section class="chapter">
		<div class="content profile">
			<h2>{{'Профиль пользователя'|trans }}</h2>
			{# {{ user ? dump(user) : false }} #}

			{% if user and user.enabled and not user.locked and not user.expired %}
				{% if user.avatar %}
					<div class="user-avatar">
						{% media user.avatar, 'preview' with {'width': 'auto', 'style': 'width: 100%; height: auto'} %}
					</div>
				{% endif %}
				<ul class="user-props">
					{% if user.firstname %}<li>{{'Имя'|trans }}: <span>{{user.firstname}}</span></li>{% endif %}
					{% if user.lastname %}<li>{{'Фамилия'|trans }}: <span>{{user.lastname}}</span></li>{% endif %}
					{% if user.username %}<li>{{'Логин'|trans }}: <span>{{user.username}}</span></li>{% endif %}
					{% if user.email %}<li>E-mail: <span>{{user.email}}</span></li>{% endif %}
					{% if user.phone %}<li>{{'Телефон'|trans }}: <span>{{user.phone}}</span></li>{% endif %}
					<li>
						{{'Группа'|trans }}:
						{{ user.mygroups }}
					</li>
				</ul>
			{% else %}
				{{ render(controller("DemosBlogBundle:Default:login", { 'request': app.request }  )) }}
			{% endif %}
		</div>
	</section>

	{# {{ posts ? dump(posts) : false }} #}
	{# {{ test ? dump(test) : false }} #}
{% endblock %}