{# {{ dump(app.user) }} #}

{% if post %}
	{% if app.request.locale == 'en' %}
		{% set title = post.titleEn %}
		{% set body = post.bodyEn %}
	{% else %}
		{% set title = post.title %}
		{% set body = post.body %}
	{% endif %}
	<article>
		<div class="post-img">
			{% media post.image, 'big' with {'width': 'auto'} %}
		</div>
		<div class="post-head">
			<h3>{{ title }}</h3>
			<span class="date">{{ post.updatedDate|date("d-m-Y H:i") }}</span>
		</div>
		<div class="post-body">
			{{ body | raw() }} 
		</div>
		
		{% if comments|length > 0 %}
			<div class="post-comments" id="post-comments">
				<h4>{% trans %}Комментарии{% endtrans %}</h4>
				<ul>
					{% for comment in comments %}
						<li class="post-comment">
							<div class="post-comment-head">
								<h5>{{ comment.user }}</h5>
								<span class="date">{{ comment.updatedDate|date("d-m-Y H:i") }}</span>
								{% if app.user == comment.user %}
									<div class="post-comment-controls">
										<a href="{{ url('demos_blog_comment', {'id': comment.id, 'act': 'edit'}) }}" class="edit disabled" data-id="{{ comment.id }}"></a>
										<a href="{{ url('demos_blog_comment', {'id': comment.id, 'act': 'delete'}) }}" class="close1" data-id="{{ comment.id }}"></a>
									</div>

									<div class="post-comment-edit">
									</div>
								{% endif %}
							</div>
							<div class="post-comment-body">
								{{ comment.body }}
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}

		{% if is_granted('ROLE_USER') %}
			<div class="post-comment">
				{% include 'DemosBlogBundle:Blog:form_comment.html.twig' with {'comment_form': comment_form} %}
			</div>
		{% endif %}

		<div class="post-footer">
			<a href="{{ url('demos_blog_blog', {'slug1': params.slug1}) }}" class="back" onclick="history.back();">{% trans %}Назад{% endtrans %}</a>
		</div>
	</article>
{% endif %}