{% extends '::layout.front.html.twig' %}

{% block title %}Абдилхамидов Руслан. Авторизация{% endblock %}

{% block bodyclass %}class="login"{% endblock %}

{% block content %}
	<div class="content">
		<div class="login-form">
			{% if error %}
			    <div class='form-error-mess'>{{ error.message|trans }}</div>
			{% endif %}

			<form action="{{ path('login_check') }}" method="post">
			    <label for="username">{{'Логин'|trans}}:</label>
			    <input type="text" id="username" name="_username" value="{{ last_username }}" />

			    <label for="password">{{'Пароль'|trans}}:</label>
			    <input type="password" id="password" name="_password" />
				<fieldset class="form-footer">
				    <input type="checkbox" id="remember_me" name="_remember_me" checked />
				    <label for="remember_me">{{'Запомнить меня'|trans}}</label><br>
				    <input type="submit" name="login" value="{{'Войти'|trans}}" />
			    </fieldset>	    

			    {#
			        Если вы хотите контролировать URL, на который перенаправить пользователя:
			        <input type="hidden" name="_target_path" value="/account" />
			    #}

			</form>
			<div class="buttons">
				<a class="button login-reg" href="#">{{'Регистрация'|trans}}</a><br>
				<a class="button login-forgot" href="#">{{'Забыли пароль'|trans}}</a>
			</div>
		</div>
	</div>
{% endblock %}

